:root {
    /* COLORS */
    /* Primary */
    --blue:             hsl(246, 80%, 60%);
    --light-orange:     hsl(15, 100%, 70%);
    --soft-blue:        hsl(195, 74%, 62%);
    --light-red:        hsl(348, 100%, 68%);
    --lime-green:       hsl(145, 58%, 55%);
    --violet:           hsl(264, 64%, 52%);
    --soft-yellow:      hsl(43, 84%, 65%);
    /* Neutral */
   --very-dark-blue:    hsl(226, 43%, 10%);
   --dark-blue:         hsl(235, 46%, 20%);
   --desaturated-blue:  hsl(235, 45%, 61%);
   --pale-blue:         hsl(236, 100%, 87%);
   --white:             hsl(0, 0%, 100%);

    /*FONTS*/
    --font-primary: 'Rubik', sans-serif;

    /* WIDTHS */
    --width: 55rem;
}

/* GLOBAL */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-primary);
    background-color: var(--very-dark-blue);
    color: var(--white);
    font-size: 1.8rem;
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: min(90%, var(--width));
    margin: 6rem auto;
}
.d-none { 
    display: none;
}

h1 {
    font-size: 2.8rem;
}

/* HEADER */
.header {
    margin-bottom: 2rem ;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--dark-blue);
    border-radius: 15px;
}
.header__user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2.5rem;
    background-color: var(--blue);
    border-radius: 15px;
}
.tracking__ellipsis {
    cursor: pointer;
}
.header__user-image {
    width: 7rem;
    border: 3px solid var(--white);
    border-radius: 50%;
}
.header__user-report {
    color: var(--pale-blue);
    font-size: 1.3rem;
}
.header__user-name {
    display: block;
    color: var(--white);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}
.header__navegation {
    padding: 2rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navegation-link {
    color: var(--desaturated-blue);
    font-size: 1.6rem;
}
@media (hover: hover) {
    .header__navegation-link {
        transition: color .3s;
    }
    .header__navegation-link:hover {
        color: var(--white);
    }
}
.header__navegation-link--selected {
    color: var(--white);
}

/* TRACKING */
.tracking {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.tracking__category {
    border-radius: 15px;
}
.tracking__category.work {
    background-color: var(--light-orange);
}
.tracking__category.play {
    background-color: var(--soft-blue);
}
.tracking__category.study {
    background-color: var(--light-red);
}
.tracking__category.exercise {
    background-color: var(--lime-green);
}
.tracking__category.social {
    background-color: var(--violet);
}
.tracking__category.self-care {
    background-color: var(--soft-yellow);
}
.tracking__content-image {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    margin-right: 1rem;
    overflow: hidden;
}
.tracking__image {
    width: 6.5rem;
    height: 6.5rem;
    margin-top: -0.6rem;
}
.tracking__content {
    margin-top: -2.5rem;
    background-color: var(--dark-blue);
    border-radius: 15px;
    padding: 2rem;
    position: relative;
}
.tracking__info,
.tracking__time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tracking__hours {
    font-size: 2.8rem;
    font-weight: 300;
}
.tracking__previous {
    font-size: 1.4rem;
    color: var(--desaturated-blue);
}
/* FOOTER */
.attribution {
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

@media (min-width: 768px) {
    .attribution {
        font-size: 1.2rem;
        position: absolute;
        bottom: 0;
    }
}

.attribution__text {
    color: var(--white);
}

.attribution__link {
    color: var(--desaturated-blue);
}